.header__div {
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: space-between;
  column-gap: 2rem;
  margin: 5rem auto;
  max-width: 1200px;
  padding: 0 1rem;
  width: 100%;
}
.header__logo {
  width: clamp(2rem, 25vw, 10rem);
}
