.header__div {
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: flex-start;
  column-gap: 2rem;
  margin: 3rem auto;
  max-width: 1200px;
  padding: 0 1rem;
  width: 100%;
}
.header__logo {
  width: 6rem;
}
