.navbar {
  background-color: var(--orange-web);
  font-size: 2rem;
  height: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  overflow-y: hidden;
  padding-left: 0;
  padding-top: 5rem;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.5s ease;
  width: 100%;
  z-index: 9;
}

/* .nav-menu > li > *, */
.nav__link > a {
  color: white;
  font-weight: 600;
  line-height: 2.5;
  text-decoration: none;
  /* text-shadow: 1px 1px 1px black; */
}

button.login-btn {
  margin-right: 4rem;
  top: 0.5rem;
}
.menu-action {
  color: black;
  position: absolute;
  right: 1rem;
  top: 3rem;
  transition: all 1s ease;
  z-index: 10;
}

.open {
  opacity: 1;
  transition: all 0.5s ease;
  transform: translateY(0px);
}

.closed {
  opacity: 0;
  transition: all 0.5s ease;
  transform: translateY(-550px);
}

.product-text {
  line-height: 1.5rem;
}

svg.menu-action {
  width: 2rem;
  height: 2rem;
}

@media (min-width: 768px) {
  svg.menu-action {
    display: none;
    opacity: 0;
    pointer-events: none;
  }
  .closed {
    opacity: 1;
    transition: all 0.5s ease;
    transform: translateY(0px);
  }

  .navbar_large {
    background-color: transparent;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    gap: 1.5rem;
    transform: translateY(0px);
  }

  .nav__link > a {
    align-items: center;
    color: black;
    display: flex;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1.25px;
  }
  .nav__link > a:hover {
    color: dimgray;
    transition: 200ms;
  }
}
